<!doctype html>
<html>
    <head>
        <title>Assignment</title>  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        
        <link href="/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" >
        <link href="/css/header.css" rel="stylesheet">
        <link href="/css/studybuddy.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
    {{> header}}

    <div class="container">
        <h2 class="problems-header">Select Uncompleted Problems</h2>
        <br/>
    
    <div id="results">
    {{#if assignment.length}}

        {{#each assignment}}
        <h4 class="assignment_header class{{course_id}}" id="assign{{id}}">{{course_name}}</h4><h4 class="assignment-name">{{name}}</h4>
        <form class="form-inline" data-ajax="false" role="form" method="POST" action="/post-create-match-request">
            <input type="hidden" name="assignment_id" value="{{id}}">
            {{#each problems}}
            <div id="{{this}}" class="result-problems row unselected">
                <div class="col-xs-12">
                    <div class="problem-option">
                        <i class="fa fa-plus-square-o fa-lg nav-icon problem-status-complete" alt="Problem Completed"></i>
                        <h2 class="problem-name">Problem {{this}}</h2>
                        <input style="opacity: 0; position: absolute;" 
                        checked="checked" type="checkbox" name="checkbox-{{this}}"></input>
                    </div>
                </div>
            </div>
            {{/each}}
        {{/each}}
        

        </div>
        <br/>
        <button id="submit-problems-button" type="submit" class="btn">Submit</button>
    </form>
    </div>
        
        {{else}}
        <p>No assignment found.</p>
        

    </div>
    {{/if}}        
    </div>

    

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--<script src="/js/jquery.mobile-1.4.1.js"></script>-->

    <script>
        $(document).ready(function() {   
            console.log("ready");        
            $('.result-problems').bind('touchstart', function(e) {
                $(this).toggleClass('unselected', 'selected');
                var inputProblem = $("input[name='checkbox-"+this.id+"']");
                if (inputProblem.prop('checked')) {
                    inputProblem.prop('checked', false);
                    $(this).find('i').toggleClass('problem-status-incomplete');
                    $(this).find('i').removeClass('fa-plus-square-o');
                    $(this).find('i').addClass('fa-check-square-o');

                    console.log($(this).find('i'));

                }
                else {
                    inputProblem.prop('checked', true);
                    $(this).find('i').toggleClass('problem-status-incomplete');
                    $(this).find('i').removeClass('fa-check-square-o');
                    $(this).find('i').addClass('fa-plus-square-o');
                    console.log($(this).children('i'));
                }
                e.stopPropagation();
            });
        });


    </script>
</body>
</html>


