<!doctype html>

<html>
<head>
	<title>StuddyBuddy</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/studybuddy.css" rel="stylesheet">
    <link href="/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>




<body>


    {{> header}}

	<div class="container" id="main-content">
        <div class="row">
            <div class="col-xs-6 action-thumbnail">
                <a href="/search" class="thumbnail">  
                    <i class="fa fa-search fa-7x main-nav-icon" alt="Search"></i>
                    <br/>
                    Search
                </a>
            </div>            
            <div class="col-xs-6 action-thumbnail">
                <a href="/matches" class="thumbnail">  
                    <i class="fa fa-users fa-7x main-nav-icon" alt="My Matches"></i>
                    <br/>
                    My Matches
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="profile-box thumbnail">
                    <div class="container">
                        <div class="profile-box">
                        <div class="row">
                            <div class="col-xs-2">
                                <span class="fa-stack fa-3x home-profile-photo">
                                  <i class="fa fa-square fa-stack-2x"></i>
                                  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            
                            <div class="col-xs-1 home-info">
                                <ul>
                                    <li><!-- <i class="fa fa-user" alt="user-name"></i> &nbsp;&nbsp;-->Name</li>
                                    <li><!-- <i class="fa fa-envelope" alt="user-email"></i> -->&nbsp;&nbsp;Email</li>
                                    <li><!-- <i class="fa fa-phone fa-s" alt="user-phone"></i>&nbsp;&nbsp; -->Phone</li>
                                    <li>
                                    Description</li>
                                </ul>
                            </div>
                            <div class="col-xs-8 home-info">
                                
                                <ul>
                                    <li>{{curr_user.first_name}} {{curr_user.last_name}}</li>
                                    <li><a href="mailto:pocket@stanford.edu">{{curr_user.email}}</a></li>
                                    <li><a href="tel:1234567891">{{curr_user.phone_number}}</a></li>
                                    <li><p class="description">{{curr_user.description}}</p></li>
                                </ul>
                                <br/>
                                 <a href="/update-profile">
                                    <button type="button" class="btn btn-default btn-med"><span class="glyphicon glyphicon-plus"></span>
                                    Update Profile Info </button>
                                </a>
                            </div>
                        </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
