<!doctype html>
<html>
	<head>
	    <title>Matches</title>  
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    
	    <link href="/css/bootstrap.min.css" rel="stylesheet">
	    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	    
	    <link href="/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" >
	    <link href="/css/header.css" rel="stylesheet">
	    <link href="/css/studybuddy.css" rel="stylesheet">

	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>
	{{> header}}

	<div class="container">

        {{> status_messages }}

		<div class="matches pending">
			<h2>Your Pending Matches....</h2>
			{{#each all_user_unmatched}}
				 <div class="result row">
				 	<div class="col-xs-12">
	           			<div class="accordion" id="accordion{{id}}">
	            			<div class="accordion-group">
		     			        <div class="accordion-heading">
	                				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{game.id}}" href="#collapse{{id}}"> 
    	                    			<h4 class="class-name">
    	                        			{{course.name}} : {{assignment.name}}
    	                        			<span class="arrow"><i style="float: right;" class="fa fa-chevron-down fa-xs"></i></span>
    	                   				 </h4>
                					</a>
                					<div id="collapse{{id}}" class="accordion-body collapse">
                        			<div class="details-left col-md-12 match_inf" id="{{id}}">
			                           	
                                        <div class="row">
                                            <div class="unknown col-xs-8">
                                                <div class="problems-label">You need help on problems</div>
                                                <ul class="problem-list">
                                                    {{#each problems_unknown}}
                                                        <li class="img-rounded">{{this}}</li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>                                        
                                        <div class="row">
                                            <div class="known col-xs-8">
                                                <div class="problems-label">You know problems</div>
                                                <ul class="problem-list">
                                                    {{#each problems_known}}
                                                        <li class="img-rounded">{{this}}</li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>

                                        <button class="btn editbtn" id="edit-{{id}}">
                                            <i class="icon-pencil"></i> 
                                            Edit
                                        </button> 

                                        <form action="/delete-match-request" method="post" role="form">
                                            <input type="hidden" name="request[id]" class="text" value="{{id}}">
                                            <button type="submit" class="btn" id="delete-{{id}}">
                                                <i class="icon-remove"></i> 
                                                Delete
                                            </button>
                                        </form>

                        			</div>
                    			</div>
                			</div>
                		</div>
            		</div>
       			 </div>
            </div>
		{{/each}}
	</div>


	<div class="matches recent">
		<h2>Recent Matches</h2>
		{{#each all_user_matches}}
		<div class="result row">
		 	<div class="col-xs-12">
       			<div class="accordion" id="accordion{{id}}m">
        			<div class="accordion-group">
     			        <div class="accordion-heading">
            				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{game.id}}" href="#collapse{{id}}m"> 
                			<h4 class="class-name">
                    			Match: {{other_user.first_name}} {{other_user.last_name}}
                    			<span class="arrow"><i style="float: right;" class="fa fa-chevron-down fa-xs"></i></span>
               				 </h4>
                             <h4 class="class-name">
                                Assignment: {{course.name}}, {{assignment.name}}
                             </h4>
        					</a>
        					<div id="collapse{{id}}m" class="accordion-body collapse">
                    			<div class="details-left col-md-12 match_inf" id="{{id}}m">	
                    				<p>{{other_user.first_name}}'s Email: <a href="mailto:{{other_user.email}}">{{other_user.email}}</a></p>
    								<p>{{other_user.first_name}}'s Phone Number: <a href="tel:{{other_user.phone_number}}">{{other_user.phone_number}}</a></p>		                          
                    			</div>

                                <form action="/delete-match" method="post" role="form">
                                    <input type="hidden" name="match[id]" class="text" value="{{id}}">
                                    <button type="submit" class="btn" id="delete-{{id}}">
                                        <i class="icon-remove"></i> 
                                        Reject or clear match
                                    </button>
                                </form>
            			</div>
        			</div>
            		</div>
        		</div>
   			 </div>
        </div>
		{{/each}}
	</div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="/js/matches.js"></script>
    <script src="/js/studybuddy.js"></script>

</body>



